/_region_.aux

/_region_.log
/_region_.nav
/_region_.out
/_region_.pdf
/_region_.snm
/_region_.tex
/_region_.toc
/auto/
/poster2.aux
/poster2.log
/poster2.nav
/poster2.out
/poster2.pdf
/poster2.snm
/poster2.toc
/test.aux
/test.log
/test.nav
/test.out
/test.pdf
/test.snm
/test.tex
/test.toc
/beamerthemesharelatex.sty
